/********** Template CSS **********/
:root {
    --primary: #9A8100;
    --light: #F8F8F8;
    --dark: #252525;
    --blue-light: #e3eaf6;
}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-outline-body {
    color: var(--primary);
    border-color: #777777;
}

.btn-outline-body:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 30px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: var(--dark);
    transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: .5s;
    opacity: .3;
}

.header-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/*** Facts ***/
.fact-item .fact-icon {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 120px;
    transition: .5s;
}

.fact-item:hover .fact-icon {
    background: var(--dark);
}

.fact-item .fact-icon i {
    color: var(--primary);
    transition: .5;
}

.fact-item:hover .fact-icon i {
    color: #FFFFFF;
}


/*** About & Feature ***/
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}


/*** Service ***/
.service-item .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.service-item .service-text {
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, .7);
}

.service-item * {
    transition: .5;
}

.service-item:hover * {
    color: #FFFFFF;
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Project ***/
.project .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.project .nav .nav-link.active {
    background: var(--primary);
}

.project .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.team-item .team-social .btn {
    display: inline-flex;
    margin: 0 2px;
    color: var(--primary);
    background: var(--light);
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
    transition: .5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    opacity: .4;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #777777;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: #777777;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.bg-blue-light{
    background-color: var(--blue-light);
}
/* Home css */
.navbar-nav .nav-link img, .dropdown-menu img {
    width: auto;
    height: 14px;
    margin-right: .5rem;
    position: relative;
    top: -1px;
}

#u55{
    text-align: center;
}
#u55 img{
    width: auto;
    height: 14rem;
}

.text-main-default {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #9A8100;
    text-align: center;
    }

.text-title-section {
    position: absolute;
    right: 40px;
    top: 0px;
    font-family: 'Times New Roman Bold Oblique', 'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman', sans-serif;
    font-weight: 700;
    font-style: oblique;
    font-size: 5rem;
    color: #5B557B;
}

.text-title-2{
    margin-top: 20px;
    font-family: 'Times New Roman Italic', 'Times New Roman Regular', 'Times New Roman', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    color: #B39600;
    text-align: center;
}

.image-name, .image-welcome{
    height: 100%;
}
.text-content-section{
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #5B557B;
}

.box-text-title-1{
    margin-left: 40px;
    font-family: 'Times New Roman Bold Italic', 'Times New Roman Regular', 'Times New Roman', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 28px;
    color: #555555;
}
.box-text-title-2{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #5B557B;
}
.box-right{
    background-color: var(--blue-light);
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-left{
    background-color: var(--blue-light);
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-right img, .box-left img{
    height: 30rem;
    margin-top: -150px;
    margin-bottom: -150px;
}
.section-2{
    position: relative; 
}
.section-2 .background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.section-2 .img{
    height: 100%;
    width: 100%;
}
.section-2 .content{
    padding-bottom: 80px;
    margin-left: 30px;
}

.mr-0{
    /* margin-right: 0px; */
}

.ml-0{
    /* margin-left: 0px; */
}

.section-4, .section-6, .section-7{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-6 img{
    width: 100%;
    height: 100%;
}

.section-10 .title{
    font-family: 'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-align: center;
    font-size: 3rem;
}
.text-href{
    text-decoration: underline;
    padding-bottom: 30px;
}
.box-center{
    text-align: center;
    background-color: var(--blue-light);
}
.box-center-text-title{
    margin-left: 40px;
    font-family: 'Times New Roman Bold Italic', 'Times New Roman Regular', 'Times New Roman', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 28px;
    color: #555555;
}
.box-center-text-content{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #5B557B;
}
.box-image{
    visibility:visible;
    display: block;
}

.box-image img{
    height: 100%;
}

#u2, #u6, #u4, #u5, #u49, #u642, #u640{
    background-image: none;
    position: relative;
}
#u2 .content, #u6 .content, #u4 .content, #u5 .content, #u49 .content, #u642 .content, #u640 .content{
    position: relative;
}
@media screen and (max-width: 1300px) {
    .text-title-section{
        font-size: 4rem;
    }
    .image-name, .image-welcome{
        height: 25rem;
    }
}
@media screen and (max-width: 800px) {
    .image-name, .image-welcome{
        height: 12rem;
        margin-left: 40px;
        margin-top: 40px;
    }
    .text-title-section{
        font-size: 2rem;
    }
}
@media screen and (max-width: 500px) {
    .text-title-section{
        font-size: 1.5rem;
    }
    .image-name, .image-welcome{
        height: 7rem;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    
}
@media screen and (max-width: 390px) {
    .text-content-section{
        font-size: 10px;
    }
    .section-2 .content {
        padding-bottom: 10px;
    }
    
}
@media screen and (max-width: 992px){
    .box-text-title-2 {
        font-size: 12px;
    }
    .box-right img, .box-left img {
        height: 22rem;
    }
}
@media screen and (max-width: 767px){
    .box-image{
        visibility:hidden;
        display: none;
    }
    .box-text-title-1 {
        color: white;
    }
    .box-text-title-2 {
        color: white;
    }

    #u2::before{
        background-image: url('../img/home/u2.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    .box-right, .box-left{
        background-color: black;
    }
    #u6::before{
        background-image: url('../img/home/u6.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #u5::before{
        background-image: url('../img/home/u5.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #u4::before{
        background-image: url('../img/home/u4.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #u49::before{
        background-image: url('../img/connect/u419.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #u200::before{
        background-image: url('../img/share/u200.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #u642::before{
        background-image: url('../img/adviser/u642.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #u640::before{
        background-image: url('../img/adviser/u640.png');
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
}
